<div id="container">
	<div class="yoxview-thumbnails"> 
	   {{#each images}}
	    <a href="{{this.path}}"><img src="{{this.path}}" alt="{{this.id}}" width="100px" height="100px" title="{{this.path}}" /></a>
	   {{/each}}
	</div>
</div>