<div id="container">
	<div class="yoxview-thumbnails"> 
	   {{#each images}}
	    <img src="file://{{this.path}}" alt="{{this.id}}" width="100px" height="100px" title="{{this.path}}" />
	   {{/each}}
	</div>
</div>